<!DOCTYPE html><html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<head lang="en">
    <meta charset="UTF-8">
    <title>Powerplant</title>
    <style>
        h2 {text-align: center;}
        h3 {text-align: center;}
        h4 {text-align: center;}
		th, td {
		  text-align: center;
		  padding: 8px;
		}
		table {
			width: 80%;
			margin: 0 auto;
		}
		.row {
			position: relative;
			width: 80%;
			margin: 0 auto;
		}
		table, tr, td {
			border: 1px solid;
		}
    </style>
</head>
<body>
<h1 class="display-2">
{{ date_start + ' - ' + date_end }}
</h1>

<div class="row">
	<div class="col-md-16">
	    <h2>
		<a href="/scatter?hours_back=12">Half Day</a> | 
		<a href="/scatter">1 Day</a> | 
		<a href="/scatter?hours_back=72">3 Days</a> | 
		<a href="/scatter?hours_back=168">7 Days</a>
	    </h2>
	</div>
</div>
<div class="container-fluid plot-tag">
	<h2>TEMPERATURE</h2>
	<div class="row">
		<div class="col-md-50">
			<h3>Inside: {{ inside_temp }} | Outside: {{ outside_temp }} | Delta: {{ delta_temp }}</h3>
		</div>
	</div>
	<div class="row">
	        <div class="col-md-50">
	            <div class="chart" id="scatter1">
		           	<script>
		               		var graphs = {{temp_plot | safe}};
					Plotly.plot(
						'scatter1',
						graphs,
							{
								"title": "Temperatures F", 
								"xaxis": {"title": "Date and Time"},
								"yaxis": {"title": "Degrees F"}
							}
					);
            			</script>
            		</div>
        	</div>
	</div>
	<h2>HUMIDITY</h2>
	<div class="row">
		<div class="col-md-50">
			<h3>Inside: {{ inside_humidity }}% | Outside: {{ outside_humidity }}% | Delta: {{ delta_humidity }}%</h3>
		</div>
	</div>
	<div class="row">
	        <div class="col-md-50">
	            <div class="chart" id="scatter2">
		           	<script>
		               		var graphs = {{humid_plot | safe}};
					Plotly.plot(
						'scatter2',
						graphs,
							{
								"title": "Humidity", 
								"xaxis": {"title": "Date and Time"},
								"yaxis": {"title": "Humidity %"}
							}
					);
            			</script>
            		</div>
        	</div>
	</div>
	<hr />
	<h2>WATER</h2>
	<hr />
	<div class="row">
		<table border="1px">
			<tr>
				<td>
					<table>
						<tr>
							<td>
								Name: {{ valve_history[2]['name'] }}
								<br />
								ID: 2
								<br />
								Last Opened: {{ valve_history[2]['delta_closed'] }}
								<br />
								<form action="valves/2/water" method="post">
									<input type="text" value="60" id="valves_open_duration" name="open_duration_seconds">
	    								<input type="hidden" name="valve_id" value="2" />
									<input type="submit" value="Water">
			   					</form>
							</td>
						</tr>
						<tr>
							<td>
								Utility
							</td>
						</tr>
					</table>
				</td>
				<td>
					<table>
						<tr>
								Aisle
						</tr>
					</table>
				</td>
				<td>
					<table>
						<tr>
							<td>
								Name: {{ valve_history[6]['name'] }}
								<br />
								ID: 6
								<br />
								Last Opened: {{ valve_history[6]['delta_closed'] }}
								<br />
								<form action="valves/6/water" method="post">
									<input type="text" value="60" id="valves_open_duration" name="open_duration_seconds">
	    								<input type="hidden" name="valve_id" value="6" />
									<input type="submit" value="Water">
			   					</form>		
							</td>
						</tr>
					</table>
				</td>
				<td>
					<table>
						<tr>
							<td>
								Name: {{ valve_history[3]['name'] }}
								<br />
								ID: 3
								<br />
								Last Opened: {{ valve_history[3]['delta_closed'] }}
								<br />
								<form action="valves/3/water" method="post">
									<input type="text" value="60" id="valves_open_duration" name="open_duration_seconds">
	    								<input type="hidden" name="valve_id" value="3" />
									<input type="submit" value="Water">
			   					</form>

							</td>
						</tr>
						<tr>
							<td>
								Name: {{ valve_history[4]['name'] }}
								<br />
								ID: 4
								<br />
								Last Opened: {{ valve_history[4]['delta_closed'] }}
								<br />
								<form action="valves/4/water" method="post">
									<input type="text" value="60" id="valves_open_duration" name="open_duration_seconds">
	    								<input type="hidden" name="valve_id" value="4" />
									<input type="submit" value="Water">
			   					</form>

							</td>
						</tr>

					</table>
				</td>
				<td>
					<table>
						<tr>
								Aisle
						</tr>
					</table>
				</td>
				<td>
					<table>
						<tr>
							<td>
								Name: {{ valve_history[8]['name'] }}
								<br />
								ID: 8
								<br />
								Last Opened: {{ valve_history[8]['delta_closed'] }}
								<br />
								<form action="valves/8/water" method="post">
									<input type="text" value="60" id="valves_open_duration" name="open_duration_seconds">
	    								<input type="hidden" name="valve_id" value="8" />
									<input type="submit" value="Water">
			   					</form>

							</td>
						</tr>
						<tr>
							<td>
								Name: {{ valve_history[5]['name'] }}
								<br />
								ID: 5
								<br />
								Last Opened: {{ valve_history[5]['delta_closed'] }}
								<br />
								<form action="valves/5/water" method="post">
									<input type="text" value="60" id="valves_open_duration" name="open_duration_seconds">
	    								<input type="hidden" name="valve_id" value="5" />
									<input type="submit" value="Water">
			   					</form>

							</td>
						</tr>
						<tr>
							<td>
								Name: {{ valve_history[7]['name'] }}
								<br />
								ID: 7
								<br />
								Last Opened: {{ valve_history[7]['delta_closed'] }}
								<br />
								<form action="valves/7/water" method="post">
									<input type="text" value="60" id="valves_open_duration" name="open_duration_seconds">
	    								<input type="hidden" name="valve_id" value="7" />
									<input type="submit" value="Water">
			   					</form>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
	<div>
		<table>
    			<tr>
		    		<form action="valves/water" method="post">
					<td><label for="valves_all">Water All:</label></td>
					<td><input type="text" value="60" id="valves_open_duration" name="open_duration_seconds"></td>
					<td><input type="submit" value="Queue All"></td>
	    			</form>
    			</tr>
    	</table>
    </div>
    <h3>
	    Current Watering Queue
    </h3>
    <div class="row">
	    <div class="col-md-6">
			{% if watering_queue %}
			<ul>
				{%for entry in watering_queue%}
					<li>{{ entry['valve_description'] }} - {{ entry['open_duration_seconds'] }} seconds</li>
				{%endfor%}
			</ul>
			{%endif%}
			{% if not watering_queue %}
				Nothing in queue
			{%endif%}   
	    </div>
    </div>
	<div class="row">

	    <h2>FAN</h2>
	        <div class="col-md-50">
            		<div class="chart" id="bar1">
           			<script>
               		 		var graphs = {{fan_data_object | safe}};
               		 		Plotly.plot(
						'bar1',
						graphs,	
						{
							"title": "Fan Runtime", 
							"xaxis": {"title": "Date and Time"},
							"yaxis": {"title": "Cumulative Minutes"}
						}
					);
		            	</script>
		            </div>
	        </div>
	</div>
    <h3>Fan Runs at {{ fan_temp }} degrees F</h3>
    <div class="row">
	    <div class="col-md-6">
		    <form action="/fan-config/temp" method="post">
			<label for="fan_temp">Update fan temp:</label>
			<input type="text" value="{{ fan_temp  }}" id="fan_temp" name="fan_temp">
			<input type="submit" value="Submit"> 
		    </form>
	    </div>
    </div>
    <h3>Fan Events</h3>
    <div class="row">
	    <div class="col-md-6">
		    <table>
			<tr>
				<th>On</th>
				<th>Off</th>
				<th>Duration</th>
			</tr>
			{%for entry in fan_events%}
			<tr>
				<td>{{ entry['ts_on'] }}</td>	
				<td>{{ entry['ts_off'] }}</td>	
				<td>{{ entry['on_minutes'] }}</td>	
			</tr>
			{%endfor%}

		    </table>
	    </div>
    </div>
</div>
</body>
</html>
