
<!DOCTYPE html><html>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<head lang="en">
    <meta charset="UTF-8">
    <title>Powerplant Scatter Plot</title>
    <style>
        h2 {text-align: center;}
    </style>
</head>
<body>
<h1>
{{ date_start + ' - ' + date_end }}
</h1>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="chart" id="scatter1">
           	<script>
               		 var graphs = {{plot1 | safe}};
               		 Plotly.plot('scatter1',graphs,{});
            	</script>
            </div>
        </div>
    </div>
    <div class="row">
	    <div class="col-md-6">
		    <h2>Inside temp: {{ inside_temp }}</h2>
		    <h2>Outside temp: {{ outside_temp }}</h2>
		    <h2>Delta temp: {{ delta_temp }}</h2>
		    <h2>Fan Temp: {{ fan_temp }}</h2>
	    </div>
    </div>
    <div class="row">
	    <div class="col-md-6">
		    <h2><a href="/scatter">1 Day</a></h2>
		    <h2><a href="/scatter?hours_back=72">3 Days</a></h2>
		    <h2><a href="/scatter?hours_back=168">7 Days</a></h2>
	    </div>
    </div>
    <div>
	    <div class="col-md-6">
		    <form action="/fan-config/temp" method="post">
			<label for="fan_temp">Fan temp:</label>
			<input type="text" value="{{ fan_temp  }}" id="fan_temp" name="fan_temp"> <input type="submit" value="Submit"> 
		    </form>
	    </div>
    </div>
</div>
</body>
</html>
