
<!DOCTYPE html><html>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<head lang="en">
    <meta charset="UTF-8">
    <title>OP Writer Plots</title>
    <style>
        h2 {text-align: center;}
    </style>
</head>
<body>
<h1>
{{ table_name + '.' + column_name + ':' + operation_name }}
</h1>
<a href="/plot/{{ table_name }}/{{ column_name }}"><< Back</a>
<div class="container">
    <h2>
    Script Writer Traffic by Date
    </h2>
    <div class="row">
        <div class="col-md-6">
            <div class="chart" id="scatter1">
            <script>
                var graphs = {{plot1 | safe}};
                Plotly.plot('scatter1',graphs,{});
            </script>
        </div>
        </div>
    </div>
    <h2>
    Platform Writer Traffic by Date
    </h2>
    <div class="row">
        <div class="col-md-6">
            <div class="chart" id="scatter2">
            <script>
                var graphs = {{plot2 | safe}};
                Plotly.plot('scatter2',graphs,{});
            </script>
        </div>
        </div>
    </div>
    <h2>
    Distinct Writer Script Count by Date
    </h2>
    <div class="row">
        <div class="col-md-6">
            <div class="chart" id="scatter3">
            <script>
                var graphs = {{plot3 | safe}};
                Plotly.plot('scatter3',graphs,{});
            </script>
        </div>
        </div>
    </div>
    <h2>
    Distinct Operation Count by Date <a href="">Get Raw Data</a>
    </h2>
    <div class="row">
        <div class="col-md-6">
            <div class="chart" id="scatter4">
            <script>
                var graphs = {{plot4 | safe}};
                Plotly.plot('scatter4',graphs,{});
            </script>
        </div>
        </div>
    </div>
</div>
</body>
</html>
